# pandas

In [6]:
import pandas as pd

s1 = pd.Series([10, 20, 30, 40, 50])
print(s1)
print(f's1.values: {s1.values}')
print(f's1.index: {s1.index}')

0    10
1    20
2    30
3    40
4    50
dtype: int64
s1.values: [10 20 30 40 50]
s1.index: RangeIndex(start=0, stop=5, step=1)

In [22]:
print(pd.Series([10, 20, 30], ['2020-10-01', '2020-10-02', '2020-10-03']))

2020-10-01    10
2020-10-02    20
2020-10-03    30
dtype: int64

In [10]:
data = {'a': 1, 'b': 2}
print(pd.Series(data))

a    1
b    2
dtype: int64

### 날짜

In [12]:
dates = pd.date_range(start='2019-01-01', end='2020-10-27')
print(dates)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2020-10-18', '2020-10-19', '2020-10-20', '2020-10-21',
               '2020-10-22', '2020-10-23', '2020-10-24', '2020-10-25',
               '2020-10-26', '2020-10-27'],
              dtype='datetime64[ns]', length=666, freq='D')

In [16]:
print(pd.date_range(start='2020-10-17', periods = 1))

DatetimeIndex(['2020-10-17'], dtype='datetime64[ns]', freq='D')

In [19]:
pd.date_range(start='2020-10-17', periods =4, freq='D')

DatetimeIndex(['2020-10-17', '2020-10-18', '2020-10-19', '2020-10-20'], dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range(start='2020-10-17', periods =4, freq='AS')

DatetimeIndex(['2021-01-01', '2022-01-01', '2023-01-01', '2024-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

 ### DataFrame 
 - 표와 같은 2차원  데이터를 처리할 수 있다.

In [35]:
data = [10, 20, 30,]
indexs = [1,2,3] # 없으면 0부터시작
cols = ['col01'] # 없으면 0부터 시작

table1 = pd.DataFrame(data, indexs,  cols)

print(table1)

   col01
1     10
2     20
3     30

- data의 마지막차원의 배열의 원소의 len과 index의 len이 같지않으면 에러가 발생한다
- data의 마지막차원의 배열의 갯수와 cols의 len이 같지않으면 에러가 발생한다.
- 즉, 데이터가 비어있는건 허용해도 갯수가 같지않으면 에러가 발생한다.

In [48]:
import numpy as np

data = np.arange(1, 26).reshape(5,5)
print(data)
indexs = [1,2,3,4,5] # 없으면 0부터시작
cols = ['col01', 'col2', 'col3', 'col4', 'col5'] # 없으면 0부터 시작

table1 = pd.DataFrame(data, indexs,  cols)

print(table1)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]
   col01  col2  col3  col4  col5
1      1     2     3     4     5
2      6     7     8     9    10
3     11    12    13    14    15
4     16    17    18    19    20
5     21    22    23    24    25

In [51]:

table_data = {
    '연도': [2010, 2011, 2012],
    '월': ['1월', '2월', '3월'],
    '일': ['1일', '2일', '3일']
}

dict_table = pd.DataFrame(table_data)
print(dict_table)

     연도   월   일
0  2010  1월  1일
1  2011  2월  2일
2  2012  3월  3일

- data를 딕셔너리로 전달하는 경우 `key`값이 자동으로 `columns` 로 지정된다.

In [53]:
print(dict_table.columns)

Index(['연도', '월', '일'], dtype='object')

In [55]:
print(dict_table.values)

[[2010 '1월' '1일']
 [2011 '2월' '2일']
 [2012 '3월' '3일']]

In [62]:
s1 = pd.Series(list(range(1, 6)))
s2 = pd.Series(list(range(5, 11)))
print(s1, s2)
print(s1 + s2)

0    1
1    2
2    3
3    4
4    5
dtype: int64 0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64
0     6.0
1     8.0
2    10.0
3    12.0
4    14.0
5     NaN
dtype: float64

In [64]:
print(s1 - s2)

0   -4.0
1   -4.0
2   -4.0
3   -4.0
4   -4.0
5    NaN
dtype: float64

In [66]:
print(s1 / s2)

0    0.200000
1    0.333333
2    0.428571
3    0.500000
4    0.555556
5         NaN
dtype: float64

In [79]:
table33 = pd.DataFrame(np.arange(1,10).reshape(3, 3))
table55 = pd.DataFrame(np.arange(1,26).reshape(5, 5))
print(table33 + table55)

      0     1     2   3   4
0   2.0   4.0   6.0 NaN NaN
1  10.0  12.0  14.0 NaN NaN
2  18.0  20.0  22.0 NaN NaN
3   NaN   NaN   NaN NaN NaN
4   NaN   NaN   NaN NaN NaN

In [81]:
print(table33 - table55)

     0    1    2   3   4
0  0.0  0.0  0.0 NaN NaN
1 -2.0 -2.0 -2.0 NaN NaN
2 -4.0 -4.0 -4.0 NaN NaN
3  NaN  NaN  NaN NaN NaN
4  NaN  NaN  NaN NaN NaN

In [93]:
temp_table = {
    '봄': list(range(1, 6)),
    '여름': list(range(6, 11)),
    '가을': list(range(11, 16)),
    '겨울': list(range(16, 21))
}
print(temp_table)
col_ls = ['봄', '여름', '가을', '겨울']
index_ls = ['2012', '2013', '2014', '2015', '2016']

temp_df = pd.DataFrame(temp_table, columns = col_ls, index = index_ls)

{'봄': [1, 2, 3, 4, 5], '여름': [6, 7, 8, 9, 10], '가을': [11, 12, 13, 14, 15], '겨울': [16, 17, 18, 19, 20]}

In [94]:
temp_df.mean() # 평균

봄      3.0
여름     8.0
가을    13.0
겨울    18.0
dtype: float64

In [96]:
temp_df.std() # 표준편차

봄     1.581139
여름    1.581139
가을    1.581139
겨울    1.581139
dtype: float64

In [100]:
print(temp_df.describe()) # 여러 메소드를 한번에 실행한 결과를 보여준다.

              봄         여름         가을         겨울
count  5.000000   5.000000   5.000000   5.000000
mean   3.000000   8.000000  13.000000  18.000000
std    1.581139   1.581139   1.581139   1.581139
min    1.000000   6.000000  11.000000  16.000000
25%    2.000000   7.000000  12.000000  17.000000
50%    3.000000   8.000000  13.000000  18.000000
75%    4.000000   9.000000  14.000000  19.000000
max    5.000000  10.000000  15.000000  20.000000

In [102]:
temp_df.head()

      봄  여름  가을  겨울
2012  1   6  11  16
2013  2   7  12  17
2014  3   8  13  18
2015  4   9  14  19
2016  5  10  15  20

In [104]:
temp_df.tail()

      봄  여름  가을  겨울
2012  1   6  11  16
2013  2   7  12  17
2014  3   8  13  18
2015  4   9  14  19
2016  5  10  15  20

In [108]:
print(temp_df.head(1)) # 첫째행부터 n개
print(temp_df.tail(1)) # 마지막행부터 n 개

      봄  여름  가을  겨울
2012  1   6  11  16
      봄  여름  가을  겨울
2016  5  10  15  20

In [116]:
temp_df[2:3] # start부터 (end-1) 번째 행

      봄  여름  가을  겨울
2014  3   8  13  18

In [125]:
temp_df.loc['2012'] # index이름으로 지정하여 데이터 불러오기

봄      1
여름     6
가을    11
겨울    16
Name: 2012, dtype: int64

In [128]:
print(temp_df['봄']) # column 명으로 데이터 불러오기
print(temp_df['봄']['2012':'2013']) #column 명과 index명으로 두번 필터링하기

2012    1
2013    2
2014    3
2015    4
2016    5
Name: 봄, dtype: int64
2012    1
2013    2
Name: 봄, dtype: int64

In [139]:
print(temp_df['봄'].loc['2012'])
print(temp_df['봄']['2012'])

1
1

In [142]:
print(temp_df.T) # 열과 행을 뒤바꿈(전치)

    2012  2013  2014  2015  2016
봄      1     2     3     4     5
여름     6     7     8     9    10
가을    11    12    13    14    15
겨울    16    17    18    19    20

In [144]:
temp_df.T[['2016', '2015']] ##  columns 명을 배열로 만들면 내가 원하는 순서대로 순서를 조정할 수 있음

    2016  2015
봄      5     4
여름    10     9
가을    15    14
겨울    20    19

## 데이터 통합

In [152]:
index_label = ['a','b','c','d']
df1a = pd.DataFrame({'Class1': [95, 92, 98, 100],
                    'Class2': [91, 93, 97, 99]}, index= index_label)
df4a = pd.DataFrame({'Class3': [93, 91, 95, 98]}, index=index_label)
df2a = pd.DataFrame({'Class4': [1, 1]}, index=index_label[0:2])

print(df1a)
print(df4a)

# 두 데이터프레임을 합칠 수 있다. 이 때 인자로 받은 값이 뒤로 들어간다. (가로로 길이 증가)
# 행의 갯수가 같지 않는 경우, 추가되는 열의 비어있는 영역이 NaN으로 들어간다.
print('df1a.join(df4a)')
print(df1a.join(df4a))  

print('df1a.join(df2a)')
print(df1a.join(df2a))


df1a.append(pd.DataFrame({'Class1': [1,2,3]}), ignore_index=True) # 같은 column 명을 가진 데이터 프레임을 아래에 추가할 수 있다.  (세로로 길이증가)

   Class1  Class2
a      95      91
b      92      93
c      98      97
d     100      99
   Class3
a      93
b      91
c      95
d      98
df1a.join(df4a)
   Class1  Class2  Class3
a      95      91      93
b      92      93      91
c      98      97      95
d     100      99      98
df1a.join(df2a)
   Class1  Class2  Class4
a      95      91     1.0
b      92      93     1.0
c      98      97     NaN
d     100      99     NaN

   Class1  Class2
0      95    91.0
1      92    93.0
2      98    97.0
3     100    99.0
4       1     NaN
5       2     NaN
6       3     NaN

#### 테이블 merge

- pandas에서는  DB의 JOIN과 유사한 기능을 제공한다. 두 테이블을 합칠 때, 특정 조건을 걸어 내가 원하는 테이블을 만들 수 있게 해준다.
- `df_left.merge(df_right, how='left', on = 'key')`
    - how 테이블을 합칠 때, 어떤 통합방법을 선택할건지
        - left
        - right
        - outer
        - inner
    - on 통합방법을 적용할 테이블의 key

In [182]:
df_left = pd.DataFrame({'key':['A','B','C'], 'left': [1, 2, 3], 'test': [1,2,3]})
df_right = pd.DataFrame({'key':['A','B','D'], 'right': [4, 5, 6], 'test': [1,4,6]})
print(df_left)
print(df_right)

  key  left  test
0   A     1     1
1   B     2     2
2   C     3     3
  key  right  test
0   A      4     1
1   B      5     4
2   D      6     6

In [163]:
df_left.merge(df_right, how = 'left', on ='key')
# 기준이 된 dr_left에는 D가 없어서 삭제되었으며, df_right 테이블에서는 C가 없어서 NaN이 된채로 합쳐졌다

  key  left  right
0   A     1    4.0
1   B     2    5.0
2   C     3    NaN

In [166]:
df_left.merge(df_right, how = 'right', on ='key')
# 기준이 된 dr_right에는 C가 없어서 삭제되었으며, df_left 테이블에서는 D가 없어서 NaN이 된채로 합쳐졌다

  key  left  right
0   A   1.0      4
1   B   2.0      5
2   D   NaN      6

In [168]:
df_left.merge(df_right, how = 'outer', on ='key')
# 약간 합집합 개념? 두 테이블에 존재하는 모든 key를 가져온다. 서로 가지지 않고 있는 key에 대해서는 NaN으로 출력한다.

  key  left  right
0   A   1.0    4.0
1   B   2.0    5.0
2   C   3.0    NaN
3   D   NaN    6.0

In [184]:
df_left.merge(df_right, how = 'inner', on ='key')

  key  left  test_x  right  test_y
0   A     1       1      4       1
1   B     2       2      5       4

In [186]:
df_left.merge(df_right, how = 'inner', on =['key', 'test'])

  key  left  test  right
0   A     1     1      4

-  how 키워드에는 4개의 상수값만 전달 가능하다.
- on 키워드에는 str 타입이나 list 형태로 값을 전달가능하다. list타입을 전달하게되면 리스트에 있는 key 값으로 how로 전달받은 통합방법을 모두 적용한다

In [193]:
%%writefile C:\Users\Playdata\code\summary\python\2020-10-26_numpy\sea_rain1.csv
연도,동해,남해,서해,전체
1996,17.4629,17.2288,14.436,15.9067
1997,17.4116,17.4092,14.8248,16.1526
1998,17.5944,18.011,15.2512,16.6044
1999,18.1495,18.3175,14.8979,16.6284
2000,17.9288,18.1766,15.0504,16.6178

Writing C:\Users\Playdata\code\summary\python\2020-10-26_numpy\sea_rain1.csv

In [196]:
# 인덱스 자동지정
pd.read_csv('C:/Users/Playdata/code/summary/python/2020-10-26_numpy/sea_rain1.csv')

     연도       동해       남해       서해       전체
0  1996  17.4629  17.2288  14.4360  15.9067
1  1997  17.4116  17.4092  14.8248  16.1526
2  1998  17.5944  18.0110  15.2512  16.6044
3  1999  18.1495  18.3175  14.8979  16.6284
4  2000  17.9288  18.1766  15.0504  16.6178

In [202]:
# 인덱스 직접 지정

pd.read_csv('C:/Users/Playdata/code/summary/python/2020-10-26_numpy/sea_rain1.csv', index_col='연도')

           동해       남해       서해       전체
연도
1996  17.4629  17.2288  14.4360  15.9067
1997  17.4116  17.4092  14.8248  16.1526
1998  17.5944  18.0110  15.2512  16.6044
1999  18.1495  18.3175  14.8979  16.6284
2000  17.9288  18.1766  15.0504  16.6178

In [204]:
print(pd.read_csv.__doc__)

Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
    'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparseable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.
thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will dropped from the DataFrame that is
    returned.
warn_bad_lines : bool, default True
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.
delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'	'``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are `None` for the ordinary converter,
    `high` for the high-precision converter, and `round_trip` for the
    round-trip converter.

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP

In [213]:
arr1 = np.arange(1, 11).reshape(2,5)
print(arr1)
tb = pd.DataFrame(arr1)
print(tb)
tb.to_csv('./test.csv')
## DataFrame형태를 csv로 만들어준다.

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [251]:
seoul_data = pd.read_csv('https://gist.githubusercontent.com/padawanR0k/ccc285fb7aaa94d814f5f859a8e9eac7/raw/fad36756bd0701452755a20af1050e780c5bc684/seoul_local_population_2.csv', index_col='자치구')

In [253]:
seoul_data.astype({'25세': 'int'}) 
# print(seoul_data['25세'].dtypes)
year_data = seoul_data[['25세']] #/ 6234
# 서울의 25세 평균 인구수 6234명
meam_score = seoul_data[['25세']].mean()
year_data['mean'] = year_data['25세']/meam_score['25세']
year_data

<ipython-input-253-fbc3948e3c67>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_data['mean'] = year_data['25세']/meam_score['25세']

        25세      mean
자치구
종로구    2548  0.408739
중구     1937  0.310725
용산구    3497  0.560974
성동구    4896  0.785396
광진구    6870  1.102057
동대문구   6238  1.000674
중랑구    6041  0.969072
성북구    7055  1.131733
강북구    4562  0.731817
도봉구    4600  0.737913
노원구    7404  1.187719
은평구    6996  1.122269
서대문구   5500  0.882287
마포구    6502  1.043024
양천구    6167  0.989284
강서구    9299  1.491707
구로구    5912  0.948378
금천구    3891  0.624178
영등포구   6241  1.001155
동작구    7491  1.201675
관악구   12817  2.056049
서초구    5640  0.904745
강남구    7508  1.204402
송파구    9835  1.577689
강동구    6398  1.026340